body {
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  letter-spacing: 0;
  color: #000;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0 20px;
}
header {
  padding: 32px 20px;
}
.head-text {
  text-align: center;
  font-size: 36px;
  margin: 10px 0;
}
.welcome-text {
  text-align: center;
  margin: 15px 0;
  font-weight: 400;
}
p span {
  background-color: #000;
  color: white;
  padding: 0px 8px;
  display: inline-block;
}
.post {
  max-width: 1000px;
  /* background-color: aquamarine; */
  margin: 0 auto;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.post-content {
  padding: 0 20px;
}
.post-text {
  margin: 15px 0;
  font-weight: 400;
}
h2 {
  margin: 10px 0;
  font-size: 24px;
}
h5 {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 400;
}
h5 span {
  opacity: 0.6;
}
.post-content a {
  display: block;
  width: fit-content;
  margin-top: 30px;
  color: #000;
  text-decoration: none;
  border: 1px solid #cccccc;
  padding: 12px 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
.post-content a:hover {
  cursor: pointer;
  background-color: #cccccc;
}
